{% extends 'app/layout.html' %}

{% block title %}Contact us - Digwamaje Grave Services{% endblock %}

{% block content %}
<div class="contact-page">
    <h2>Contact us</h2>
    <p>For more information, please contact us on the following details:</p>
    <ul>
        <li><i class="fa-solid fa-phone-volume"></i> 082 361 0300</li>
        <li><i class="fa-solid fa-envelope"></i> digwamajegraveservices23@gmail.com </li>
        <li><i class="fa-solid fa-location-dot"></i> 256 Legodi Street, Mohlakeng</li>
        <li><i class="fa-solid fa-clock"></i> Monday - Friday: 08:00 - 17:00</li>
        <li><i class="fa-brands fa-facebook"></i> <a href="https://www.facebook.com/digwamajegraveservices">Digwamaje Grave Services</a></li>    
    </ul>
</div>
<div class="list-group">

</div>
{% endblock %}