{% extends 'app/layout.html' %}

{% block title %}Services - Digwamaje Grave Services{% endblock %}

{% block content %}
<h2 style="color: goldenrod;">Our Services</h2>
<div class="row">
    {% for service in services %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ service.name_of_service }}</h5>
                    <img class="thumbnail" src="{{service.imageURL}}">
                    <p class="card-text price" style="color:goldenrod"> <b>R {{ service.price }}</b></p>
                    <p class="card-text">{{ service.description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
